.form-container {
    flex-direction: column;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 4px;
    /* justify-content: center; */

  }
/*   
  .form-container > * {
    width: 100%;
  } */
  mat-grid-tile {
    background: lightblue;
  }

  .form-width {
    background: lightblue;
    min-width: 150px;
    max-width: 800px;
    width: 100%;
  }
  
  .full-width{
    background: transparent;
    width: 100%;
  }