  <form *ngIf="connectorDetails">
      <div class="form-container">
      <section class="mat-typography">
          <h2>Connector Detail</h2>
      </section>
      
      <img mat-card-avatar src="{{connectorDetails.logo}}">
      <hr>
    <mat-form-field>
        <input matInput placeholder="Connector Name" value="{{connectorDetails.connectorName}}" disabled required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" value="{{connectorDetails.Description}}" disabled required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="URI" value="{{connectorDetails.uri}}" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" value="{{connectorDetails.description}}" disabled>
    </mat-form-field>
    <div class="row">
      <button mat-raised-button color="primary" disabled>
        Save
      </button>
      <button mat-raised-button color="warn" disabled>
      Cancel
      </button>
      <button mat-raised-button disabled>
      Test  
      </button>
    </div>
    <p></p>
    </div>
</form>

<h3 mat-h2>New Connector</h3>
<form class="form-width">
  <table class="full-width">
    <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="text">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="text">
          </mat-form-field>
        </td>
    </tr>
    <tr class="full-width">
        <mat-form-field class="full-width">
          <input matInput placeholder="text">
        </mat-form-field>    
    </tr>
  </table>

</form>