.form-container {
    flex-direction: column;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 4px;
    /* justify-content: center; */

  }
/*   
  .form-container > * {
    width: 100%;
  } */