<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened class="first-sidenav">
   <!-- First Side nav -->
   <div class="top-options">
     <div>
        <button mat-icon-button>
            <mat-icon>home</mat-icon>
          </button>
     </div>
     <div>
        <button mat-icon-button>
            <mat-icon>device_hub</mat-icon>
          </button>
     </div>
   </div>
   <div class="bottom-options">
      <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
       <button mat-icon-button>
          <mat-icon>exit_to_app</mat-icon>
        </button>
   </div>
   
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-sidenav-container class="second-container">
      <mat-sidenav mode="side" opened class="second-sidenav">
       <!-- Second sidenav -->
       <app-connectors-list ></app-connectors-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <!-- Content sidenav -->
          <app-connectors-details></app-connectors-details>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>